/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* GENERAL */

.container {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}


/* HEADER */

.header-container {
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-a {
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-right: 3px;
}



/* MAIN */

main {
    background-color: black;
    height: calc(100vh - 80px);
    overflow: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;

}

.cards {
    width: 225px;
    margin: 5px 3px;
    position: relative;
}

.cards img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards span {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute; bottom: 0; left: 0;
    font-size: 12px;
    color: white;
}




/* FOOTER */


footer {
    height: 50px;
    background-color: rgb(117, 145, 136);
    display: flex;
    align-items: center;
}

.footer-container {
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    color: white;
    display: flex;
}

.mic {
    display: flex;
    height: 50px;
    background-color: blue;
}
