/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* GENERAL */

body {
    background-color: black;
}

.container {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}


/* HEADER */

.header-container {
    height: 30px;
    width: 95%;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-button {
    padding: 2px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 5px;
    margin-right: 3px;
}



/* MAIN */

main {
    background-color: rgba(68, 98, 103, 0.5);
    height: calc(100vh - 100px);
    overflow: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;

}

.cards {
    width: 225px;
    margin: 5px 3px;
    position: relative;
}

.cards img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards span {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute; bottom: 0; left: 0;
    font-size: 12px;
    color: white;
}




/* FOOTER */


footer {
    height: 70px;
    background-color: rgb(41, 67, 67);
    display: flex;
    align-items: center;
}

.footer-container {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-left , .footer-center, .footer-right {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items:first baseline;
    padding-top: 5px;
}

.footer-left {
    width: 15%;
    justify-content: space-around;
}

.footer-right {
    width: 15%;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-center {
    width: 40%;
    justify-content: space-around;
}

.mic i , .video i {
    font-size: 30px;
}

.stato {
    font-size: 10px;
}

.end-meeting {
    font-size: large;
    background-color: rgb(170, 27, 27);
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
}

.button {
    padding: 3px;
    border-radius: 8px ;
    background-color: rgba(104, 104, 104,0.3);
    color: white;
}